/*Master CSS generic Code*/
*{font-family: 'Jura', sans-serif;
}
#big{font-family: 'Jura', sans-serif;
}
.first{
		background-image:url(../assets/images/home.jpg);
		background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
		height: 400px;
}
.projects{
	height: auto;
}

/*Blinking cursor typed js*/
/* code for animated blinking cursor */
.typed-cursor{
		opacity: 1;
		font-weight: 100;
		-webkit-animation: blink 0.7s infinite;
		-moz-animation: blink 0.7s infinite;
		-ms-animation: blink 0.7s infinite;
		-o-animation: blink 0.7s infinite;
		animation: blink 0.7s infinite;
}
@-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-webkit-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-moz-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-ms-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-o-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}

#links{
	color: #0E6EB8;
}

#stack{
	color: #008080;
}